body {
  width: 60%;
  height: 60%;
  margin: auto;
}
h1 {
  margin: auto;
  width: 50%;
  }

p.nav {
  margin: auto;
  width: 50%;
  }

p.featured-property {
  margin: auto;
  width: 800px;
}
p {
  margin: auto;
  border: 1px;
}
div {
  float: left;
  width: 25%;
  background: red;
}

a {
  padding: 10px;
}
